pipeline/pl_extract_from_sqldb.json
{
	"name": "pl_extract_from_sqldb",
	"properties": {
		"activities": [
			{
				"name": "extract_from_sqldb",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "get_task_parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@activity('get_task_parameters').output.firstRow.src_sql",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_generic_azure_sqldb",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_generic_adls_csv",
						"type": "DatasetReference",
						"parameters": {
							"p_target_folder": {
								"value": "@activity('get_task_parameters').output.firstRow.tgt_folder",
								"type": "Expression"
							},
							"p_target_filename": {
								"value": "@activity('get_task_parameters').output.firstRow.tgt_filename",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "get_task_parameters",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "\nSelect src_sql, tgt_folder, tgt_filename\nfrom (\nSelect jtp.job, jtp.task, jtp.task_sequence, jtp.parameter, jtp.value\nfrom config.job_task_parameters jtp\njoin config.task_parameters tp on jtp.task = tp.task and jtp.parameter = tp.parameter\nand jtp.active = 'Y' and tp.active = 'Y' and tp.parameter_type = 'static'\nwhere jtp.job = 'load_customer' and jtp.task = 'pl_extract_from_sqldb'\n) n\nPIVOT \n(\n\tmax(value) for parameter in (src_sql, tgt_folder, tgt_filename)\n) as p\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_generic_azure_sqldb",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			}
		],
		"annotations": []
	}
}